---
import { Icon } from "astro-icon/components";
import ProductCard from "./ProductCard.astro";
import type { Product } from "../../types/product.types";
import styles from "./styles/FeaturedProducts.module.css";

interface Props {
    products: Product[];
}

const { products } = Astro.props;
---

<section class={styles.productsSection}>
    <h2 class={styles.sectionTitle}>
        Productos <span class="gradient-text">Destacados</span>
        <Icon name="lucide:star" class={styles.titleIcon} />
    </h2>

    <div class={styles.productsGrid}>
        {products.map((product) => <ProductCard product={product} />)}
    </div>
</section>
