---
import styles from "./styles/PageCard.module.css";

interface Props {
    maxWidth?: string;
}

const { maxWidth = "800px" } = Astro.props;
---

<div class={styles.pageCardContainer} style={`--cardMaxWidth: ${maxWidth}`}>
    <div class={styles.pageCard}>
        <div
            class={`${styles.decorativeCross} ${styles.decorativeDark} ${styles.posTopRight}`}
        >
        </div>
        <div
            class={`${styles.decorativeCross} ${styles.decorativeDark} ${styles.posBottomLeft}`}
        >
        </div>
        <div
            class={`${styles.decorativeCross} ${styles.decorativeDark} ${styles.posBottomRight}`}
        >
        </div>

        <div
            class={`${styles.decorativeCross} ${styles.decorativeX} ${styles.posMidLeft}`}
        >
        </div>
        <div
            class={`${styles.decorativeCross} ${styles.decorativeX} ${styles.posMidRight}`}
        >
        </div>

        <div
            class={`${styles.decorativeCross} ${styles.decorativeDarker} ${styles.posTopCenter}`}
        >
        </div>
        <div
            class={`${styles.decorativeCross} ${styles.decorativeDarker} ${styles.posBottomCenter}`}
        >
        </div>

        <div
            class={`${styles.decorativeCross} ${styles.decorativeX} ${styles.decorativeDark} ${styles.posQuarterTopLeft}`}
        >
        </div>
        <div
            class={`${styles.decorativeCross} ${styles.decorativeX} ${styles.decorativeDark} ${styles.posQuarterBottomRight}`}
        >
        </div>

        <div
            class={`${styles.decorativeCross} ${styles.decorativeX} ${styles.decorativeDarker} ${styles.posNearTopCenter}`}
        >
        </div>
        <div
            class={`${styles.decorativeCross} ${styles.decorativeX} ${styles.decorativeDarker} ${styles.posNearBottomCenter}`}
        >
        </div>
        <div
            class={`${styles.decorativeCross} ${styles.decorativeX} ${styles.posLowRight}`}
        >
        </div>
        <div
            class={`${styles.decorativeCross} ${styles.decorativeX} ${styles.posHighLeft}`}
        >
        </div>

        <div class={styles.pageCardContent}>
            <slot />
        </div>
    </div>
</div>
